{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROF X</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">

<style>
    a{
        padding-bottom: 20px;
        display: inline-block;
        background-color: lavender;
    }

    a:hover{
        background-color: rgb(200, 246, 252);
        padding-bottom: 20px;
        border-style: groove;
        
    }
</style>


</head>

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"


<body>
    

    <h2>BLOG PARA UM PROFESSOR</h2>
    <h3>Bem vindo(a)!</h3>
    
    <h1 style="background-color:hsla(198, 72%, 80%, 0.5);">Leia mais sobre:</h1>
    <a href="http://localhost:8000/sobre/"
    target= "blank">Clicando aqui ou na imagem</a> 

    <pre> Obrigada pela visita!</pre>


    <a href="http://localhost:8000/sobre/">
   <img src= "https://png.pngtree.com/png-vector/20191001/ourlarge/pngtree-book-icon-outline-style-png-image_1773810.jpg" width="450">
   </a>

    <body bgcolor="FloralWhite">

</body>

</html>