{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOBRE</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"

</head>

<body>
    
   
    <h1 style="background-color:hsla(198, 72%, 80%, 0.5);">SOBRE:</h1>
    <h2 style="background-color:rgb(242, 233, 245);">Aluna: Christie Szwako-Bellini</h1>
    <h2>Descrição: um blog simples </h1>
    

    <h2 style="border:2px solid hsla(198, 72%, 80%, 0.5);;">para um ou mais professores anexarem seus materiais e também receberem dúvidas e comentários dos alunos</h1>
    <pre></pre>

    <img src= "https://pbs.twimg.com/media/FD1jj9tXsAQZgDC?format=jpg&name=900x900" width="700">
    <img src= "https://pbs.twimg.com/media/FFDzHP8XoAQe-a8?format=png&name=small" width="700">

    <body backgroundcolor="FloralWhite">

    
</body>

</html>